/* section{
    background-color: grey;
    align-items: center;
}
.somme{
    background-color:black ;
    color: white;
    width: 1000px;
    height: 35px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-left: 175px;
} */


/* .shopping-total-paragraphe{
    padding: 5px 10px;
    margin: auto;

} */